/* Apply global styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e6f0f8;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Container styling */
.App {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* General styling for elements inside the App */
.App * {
  box-sizing: border-box;
}

/* Styling for lists */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Paragraph styling */
p {
  margin: 5px 0;
}

/* Input field styling */
input[type="text"],
input[type="number"] {
  width: 97%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccd6dd;
  border-radius: 6px;
  outline: none;
  margin-bottom: 20px;
}

/* Styling for city input */
.city {
  width: 97%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccd6dd;
  border-radius: 6px;
}

/* City search container styling */
#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

/* Suggestions dropdown styling */
.suggestions {
  width: 97%;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 2;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccd6dd;
  border-radius: 6px;
  background-color: #ffffff;
  max-height: 300px;
  overflow-y: auto;
}

.suggestions > li {
  padding: 12px;
  background-color: #ffffff;
  cursor: pointer;
  border-bottom: 1px solid #ccd6dd;
}

.suggestions > li:last-child {
  border-bottom: none;
}

.suggestions > li:hover {
  background-color: #ecf5ff;
}

/* Event styling */
.event {
  padding: 15px;
  margin-bottom: 20px;
  text-align: left;
  border: 1px solid #ccd6dd;
  border-radius: 8px;
  position: relative;
  background-color: #fdfdfd;
}

/* Show details button styling */
.details-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #3498db;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Alerts container styling */
.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}


.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .charts-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
